<div class="p-6">
  <h1 class="text-2xl font-bold mb-2"><%= @product.name %></h1>
  <% if @product.image.attached? %>
    <%= image_tag @product.image, class: "w-64 h-64 object-cover" %>
  <% end %>
  <p class="mt-4 text-lg"><strong>Цена:</strong> <%= number_to_currency(@product.price) %></p>
  <p class="mt-2"><%= @product.description %></p>
  <%= button_to 'Добавить в корзину', cart_items_path(product_id: @product.id), method: :post, class: "mt-4 bg-red-500 text-white py-2 px-4 rounded" %>
</div>
